@font-face {
	font-family: "Rubik", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width: 100vh;
	height: auto;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
}

header {
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 3px solid black;
	position: sticky;
	top: 0;
}

p {
	width: 33%;
}

.logo {
	width: 33%;
	text-align: center;
}

img {
	height: 3.5rem;
}

ul {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	width: 33%;
	list-style: none;
}

a {
	color: black;
	font-size: 2rem;
	font-family: "Rubik", sans-serif;
	font-weight: 800;
}

.hero {
	height: 80vh;
	background-image: url(images/hero.png);
	background-position: center;
	background-repeat: no-repeat;
}
